@model Wedding
<a>Log Out</a>
<div>
    <h1>Welcome to the Wedding Planner</h1>

    <table>
        <thead>
            <tr>
                <th>Wedding Duo</th>
                <th>Date</th>
                <th>Guest</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <a>New Wedding</a>
</div>