@model List<Wedding>
<form asp-controller="User" asp-action="Logout" method="post"><button>Log Out</button></form>
<div>
    <h1>Welcome to the Wedding Planner</h1>

    <table>
        <thead>
            <tr>
                <th>Wedding Duo</th>
                <th>Date</th>
                <th>Guest</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <a asp-controller="Wedding" asp-action="New">New Wedding</a>
</div>