@model LoginUser
<h3>Login</h3>
<div>
<form asp-controller="User" asp-action="Login" method="POST">
    <div>
        <label asp-for="LoginEmail"></label>
        <span asp-validation-for="LoginEmail"></span>
        <input asp-for="LoginEmail"/>
    </div>
    <div>
        <label asp-for="LoginPassword"></label>
        <span asp-validation-for="LoginPassword"></span>
        <input asp-for="LoginPassword"/>
    </div>

    <input type="Submit" value="Log in!">
</form>
</div>